#right .div-content{
	width:100%;
	height:770px;
	border-top:1px solid black;
	background:black;
	height:auto;
}
#right .div-content .content-left{
	width:37%;
	background:red;
	height:700px;
	float:left;
}

#right .div-content .content-center{
	width:37%;
	background:yellow;
	height:700px;
	float:left;
	margin-left:20px;
}

#right .div-content .content-right{
	width:23.3%;
	background:blue;
	height:800px;
	float:right;
}