*{
	margin:0px;
	padding:0px;
}
html, body{
	height:100%;
}
#top,#bottom{
	width:100%;
	background:black;
}
/* 顶部导航栏样式 */
#top{
	height:65px;
	min-width:1380px;
	user-select:none;
}
#top .div-title{
	height:65px;
	float:left;
}
#top .div-title span{
	color:#FF0000;
	font-size:32px;
	line-height:65px;
	margin-left:8px;
}
#top span{
	color:white;
	font-size:15px;
	line-height:65px;
}
#top .div-date{
	width:auto;
	height:65px;
	float:left;
}
#top .div-date span{
	position:absolute;
	color:white;
	line-height:0px;
	font-size:15px;
	margin-left:8px;
	margin-top:45px;
}
#top .btn-group{
	line-height:65px;
	float:right;
	margin-top:14px;
	margin-right:15px;
}
#top .div-userInfo{
	float:right;
	margin-right:16px;
}
#top .div-userInfo span{
	line-height:65px;
}
#top .div-userInfo #img-headPortrait{
	width:52px;
	height:52px;
	line-height:65px;
	background-size:cover;
}
#top .div-news{
	height:65px;
	float:right;
	margin-right:16px;
}
/* 消息提示图片小红点 */
#top .div-news .img-news{
	width:32px;
	height:32px;
	line-height:65px;
	margin-top:17px;
}
#top .div-news .img-news:hover{
	cursor:pointer;
	src:/static/img/news-dark.png
}
/* 消息提示小红点 */
#top .div-news .b-newsAlt{
	width:12px;
	height:12px;
	background-color:red;
	position:absolute;
	margin-left:-13px;
	margin-top:14px;
	border-radius:10px;
}
/* 遮罩层样式  */
.shadeDiv{
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.4);
	line-height:100%;
	z-index:2;
}
/* 中间内容区域样式 */
#center{
	min-width:1380px;
	max-width:100%;
	min-height:620px;
	overflow: hidden;
}
#right{
	min-width:1220px;
	height:auto;
	position: relative;
	left: 10px;
	right:10px;
	float:left;
	padding-top:8px;
	/*background-color:#FFC0CB;
	*/
}
/* 标题 */
#right .title{
	font-size:25px;
	font-weight:bold;
	color:#887E77;
}
/* 分页 */
#right .pageNav{
	width:610px;
	margin:auto;
	padding:0px;
}
#right .pageNav ul{
	margin-top:0px;
	margin-bottom:0px;
}
/* 底部栏样式 */
#bottom{
	min-width:1380px;
	max-width:100%;
	height:80px;
	text-align:center;
	color:#888;
	line-height:80px;
	position:relative;
}
/* 空记录 */
.div_prpmptEmpty{
	width:100%;
	height:200px;
	text-align:center;
	display:none;
}
.div_prpmptEmpty p{
	font-size:23px;
	color:red;
}
.div_prpmptEmpty img{
	margin-top:-20px;
}





















