@charset "UTF-8";
#userAccount,#userPwd{
	font-size:13px;
}
.span_resetPwd{
	font-size:14px;
}
.span_resetPwd:hover{
	cursor: pointer;
	color: red;
}
.panel_resetPwd{
	width: 520px;
	height: 450px;
	overflow: hide;
	margin:auto;
	margin-top:200px;
	background-color:#fff;
	z-index:6;
}
.panel_resetPwd .panel .panel_body{
	width:100%;
	height:234px;
}
.panel_resetPwd .panel .panel_body form{
	width:100%;
	height:100%;
	padding-top:12px;
	text-align:center;
}
.panel_resetPwd .panel .panel_body form div{
	width:100%;
}
.panel_resetPwd .panel .panel_body #btn_submit{
	margin-left:225px;
}
.panel_resetPwd .panel .panel_body form input{
	width:400px;
	height:50px;
	padding-left:6px;
}

.panel_resetPwd .panel .panel_body form #btn_sendEmailVerificationCode{
	display:inline-block;
	width:180px;
	height:50px;
	margin-left:34px;
	line-height:30px;
	font-size:16px;
}






