#right table{
	width:100%;
	border-top:1px solid black;
}
#right .div_search{
	width:100%;
	min-width:1220px;
	height:45px;
	margin-top:10px;
}
#right .div_search form{
	width:780px;
	margin-left:10px;
	display:inline-block;
}
#right .div_search .div-addDept{
	width:410px;
	float:right;
}
#right .div_search form button{
	width:70px;
	margin-left:6px;
}
#right .div_search #btn-addDept{
	float:right;
}